/*table {
    border-collapse: collapse;
    border-spacing: 5;
    border: 1px solid gray;
    width: 100%;
}*/

.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.stituloTabla{
    margin-bottom: 0px;
    padding-bottom: 0px;
    background: #e0e0e0;
}

.stableConteiner {
    width: 400px;
    margin: 5px;
    background: #e0e0e0;
}

.satributo {
    font-weight: bold;
    text-align: left;
    background: #e0e0e0;
}

.svalor {
    text-align: right;
    background: #e0e0e0;
}

