body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

/*.navbar a:hover {
    background-color: #000;
}*/

.active {
    background-color: #04AA6D;
}

.login-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 2px;
    border: none;
    width: 200px;
}

.login-container button:hover {
    background-color: green;
}

.login-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: #555;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.Invisible{display: none;}
.Visible{display: block;}