body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    background-color: black;
    overflow: auto;
}

.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

a.activo {
    /*background-color: #04AA6D;*/
    background-color: #2bff00;
    color: black;
    transition: background-color 1s;
}

.login-container {
    float: right;
    display: none;
    align-items: center;
}

.InputFormNavBar {
    padding: 6px;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 2px;
    border: 1px solid black;
    width: 200px;
}


.btnLogIn {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color:#2bff00;
    color: black;
    font-size: 17px;
    border: 1px solid black;
    cursor: pointer;
}

.btnLogOut{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background-color: red;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.Invisible{
    display: none;
}

.Visible{
    display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) {
    
        .spanName{
            display:none
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
        
    .spanName{
        display:inline
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.login-container{
    display: flex;
}
}

