.pcard {
    /*max-width: 400px;*/
    margin: auto;
    overflow-y: auto;
    position: relative;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    padding-top: 25px;
}

.pcard[data-state="#about"] {

    .card-main {
        padding-top: 0;
    }
}


.pcard.is-active {
    .pcard-header {
        height: 80px;
    }

    .pcard-cover {
        height: 100px;
        top: -50px;
    }

    .pcard-avatar {
        transform: none;
        left: 20px;
        width: 50px;
        height: 50px;
        bottom: 10px;
    }

    .pcard-fullname,
    .pcard-jobtitle {
        left: 86px;
        transform: none;
    }

    .pcard-fullname {
        bottom: 18px;
        font-size: 19px;
    }

    .pcard-jobtitle {
        bottom: 16px;
        letter-spacing: 1px;
        font-size: 10px;
    }
}

.pcard-header {
    position: relative;
    display: flex;
    height: 200px;
    flex-shrink: 0;
    width: 100%;
    transition: 0.3s;

    * {
        transition: 0.3s;
    }
}

.pcard-cover {
    width: 100%;
    height: 100%;
    position: absolute;
    height: 230px;
    top: -20%;
    left: 0;
    will-change: top;
    background-size: cover;
    background-position: center;
    filter: blur(1px);
    transform: scale(1.2);
    transition: 0.5s;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/cvelectronicodediodavid.appspot.com/o/herosrcvertical.png?alt=media&token=e2147b34-f103-44db-aa70-c9e71890b488");
}

.pcard-avatar {
    width: 100px;
    height: 100px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-64px);
}

.pcard-fullname {
    position: absolute;
    bottom: 0;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-10px) translateX(-50%);
    left: 50%;
    color: white;
}

.pcard-jobtitle {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 500;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-7px);
    color: white;
}

.pcard-main {
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.pcard-subtitle {
    font-weight: 700;
    margin-bottom: 8px;
}

.pcard-content {
    padding: 20px;
}

.pcard-desc {
    line-height: 1.6;
    color: black;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
}

.ulInfo{
    list-style: none;
    padding: 0px;
}
.ulInfo>li>span{
    font-weight: bold;
}

/*skeleton**************************/
.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
    width: 402px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pcard{
        width: auto;
    }

    .pcard[data-state="#about"] {
        height: 600px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pcard{
        max-width: 400px;
    }

    .pcard[data-state="#about"] {
        height: 750px;
    
        .card-main {
            padding-top: 0;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}