.footer-img{
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/footer.jpg");

    /* Set a specific height */
    height: 100px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.footer-img>h3{
    color: white;
    padding-left: 25px;
    padding-top: 10px;
}

.footer-img>ul{
    color:white
}

a:link{
    color:aqua
}