.cursoConteiner:hover{
    background-color: #2bff00;
    transition: background-color 1s;
}

.datosConteinerCurso {
padding-left: 10px;
width: 100%;
}

.datosConteinerCurso>.firstPharagraf {
    text-align: start;
    font-style: italic;
    margin: 0px;
}

.datosConteinerCurso>.secondPharagraf {
    text-align: start;
    margin: 0px;
}

.datosConteinerCurso>h2 {
    margin: 0px;
    padding: 0px;
}

.botonConteinerCurso{
    float: right;
}

.botonConteinerCurso>button{
    margin: 3px;
    font-size: 50px;
    border: none;
    background:none
}

.cursoConteiner{
    display: flex;
    width: 100%;
    margin: 2px;
    border-bottom: 1px solid black;
}

.cursoBgGray{
    background-color: #f3f3f3;
}

/*Skelleton*************************/

.cursoConteiner{
    display: flex;
    width: 100%;
    margin: 2px;
    border-bottom: 1px solid black;
    height: 150px;
}

.cursoBgGray{
    background-color: #f3f3f3;
    width: 100%;
}

.skeleton {
    animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cursoConteiner{
        height: 250px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .cursoConteiner{
        height: 200px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .cursoConteiner{
        height: 150px;
    }

}

