.datosConteinerCurso {
padding-left: 10px;
width: 100%;
}

.datosConteinerCurso>.firstPharagraf {
    text-align: start;
    font-style: italic;
    margin: 0px;
}

.datosConteinerCurso>.secondPharagraf {
    text-align: start;
    margin: 0px;
}

.datosConteinerCurso>h2 {
    margin: 0px;
    padding: 0px;
}

.botonConteinerCurso{
    float: right;
}

.botonConteinerCurso>button{
    margin: 3px;
    font-size: 50px;
    border: none;
    background:none
}

.cursoConteiner{
    display: flex;
    width: 100%;
    margin: 2px;
    border-bottom: 1px solid black;
}

.cursoBgGray{
    background-color: #f3f3f3;
}

