.dataRowConteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.dataRowButtons{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.dataRowButtons>button{
    scale: 1.5;
    background-color: white;
    border: none;
}

.dataRowButtons>button:hover{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

.dataRowButtons>button:active{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.dataRowInfo{
    font-size: 28px;
    font-weight: bold;
}

.generalDisplay{
    border: black 1px solid;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: 0.4s;
}


.displayFormStatus{
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
}

.show{
    display: block;
    max-height: 900px;
}

