.AllTableContainer {
    margin: 10px auto;
    width: 80%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 15px;
}

.imgPhoto {
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 2px 2px 4px;
    width: 125px;
    height: 125px;
    margin: 20px;
}

.imgConteiner{
    margin: auto;
}

.IPimageConteiner>img{
    width: 400px;
    margin: 2px;
}

.IPimageConteiner{
    display: flex;
    flex-direction: column;
}