.bigContainer {
    width: 95%;
    margin:auto;
}

.headerCV{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px;
    border: 1px black solid;
    box-shadow: 10px 10px;
    margin: 25px auto;
}

.headerCV>img{
    width: auto;
    height: 50px;
}
/*.sidebar { grid-area: sidebar; }
.body { grid-area: body; }*/
