.knowCardConteinter {
    width: 30%;
    height: 150px;
    margin: 5px;
    padding: 1px;
    border: black 1px solid;
    border-radius: 10px;

}

.knowCardConteinter:hover{
    background-color:#04AA6D ;
    color: white;
}

.knowCardConteinter>h3,p{
    text-align: center;
}

.knowCardConteinter>p{
    font-style: italic;
    height: 38px;
}


.ratingConteiner{
display: flex;
justify-content: center;
bottom: auto;

}